<div class="container d-flex justify-content-center">
  <div class="card w-50">
    <div class="card-header">Log in</div>
    <div class="card-body">
      <form action="/user" method="post" id="form_signUp">
        <div class="form-group">
          <label for="username">Username</label>

          <input
            name="un"
            id="username"
            type="text"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            name="pw"
            id="password"
            type="password"
            class="form-control"
          />
        </div>

        <div class="form-check mt-2">
          <input
            name="rememberMe"
            id="rememberMe"
            type="checkbox"
            class="form-check-input"
          />
          <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
         <div class="d-grid mb-1 mt-3">
                <button class="btn btn-primary text-uppercase fw-bold" type="submit">
                Log in
                </button>
        </div>
        
       
        {{!-- <button type="submit" class="btn btn-primary btn-block mt-5" id="submit">
          Log in
        </button> --}}
      </form>
      <form action="/user/google" method="get">
            <div class="d-grid mb-1 mt-3">
                <button class="btn btn-danger btn-login text-uppercase fw-bold" type="submit">
                Sign in with Google
                </button>
            </div>
        </form>
      <div class="d-grid mb-1 mt-2">
        <div class="btn btn-light mt-2 text-uppercase fw-bold"><a href="/signUp" style="text-decoration: none;">Sign Up</a></div>

      </div>
      

      
    </div>
  </div>
</div>
<script>
    $(function() {
        $('#submit').click(function(e) {
            if($(':text').val() === '' || $("#password").val() === '' || $('#username').val() === '') {
                e.preventDefault();
                alert("Vui lòng điền đầy đủ thông tin!");
            }            
            
        });
    });
</script>
