<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center" role="alert">
        <h1>Welcome to TicTacToe Game</h1>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <a
      href="https://localhost:3003/"
      class="btn btn-primary mb-3"
      style="width: 200px;"
    >Sign in to play</a>
  </div>
  <div class="row d-flex justify-content-center">
    <a
      href="https://localhost:3003/signUp/"
      class="btn btn-secondary"
      style="width: 200px;"
    >
      Create new account</a>

  </div>

</div>