<div class="d-flex align-self-center text-center p-3">
  <h1 class="text-center">Lựa chọn thời gian giới hạn: </h1>
  <form action="/request" method="post">
    <div class="mb-5 mt-5">
      <select class="form-select w-75 d-block m-auto" name="maxage" required>
        <option value="1800" selected>30 phút</option>
        <option value="3600">1 giờ</option>
        <option value="43200">12 giờ</option>
        <option value="86400">1 ngày</option>
        <option value="259200">3 ngày</option>
      </select>
      <input type="hidden" name="username" value="{{username}}" />
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
</div>