.form-control {
    width: 260px;
}

.form-group {
    margin-top: 10px;
}

#chat-container {
    background-color: #ffffff;
    padding: 20px;
}
#message-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}
